<% include ../partials/header %>
<div class="container">
<a id="show-btn" class="btn btn-secondary btn-sm" href="/profiles">Back to profiles</a>
    <div class="row">
        <div class="col-md-6 offset-md-3" style="text-align: center;" >
            <h1 id="mtp-h1">Edit your profile <%= profile.name %></h1>
            <p>Keep your profile up to date with your best stories</p>
            <br>
        </div>
        <div class="col-md-6">
            <form action="/profiles/<%= profile._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                        <label>Your Name</label>
                        <input class="form-control" type="text" name="profile[name]" value="<%= profile.name %>">
                    </div>
                    <div class="form-group">
                        <label>Your Email</label>
                        <input class="form-control" type="email" name="profile[userEmail]" value="<%= profile.userEmail %>">
                    </div>
                    <div class="form-group">
                        <label>Update Profile Image</label>
                        <input class="form-control" id ="profileHeroImage" type="file"
                         name="profileHeroImage" 
                         accept="application/x-zip-compressed,image/*">
                         
                        <p></p>
                         <div id="profileImageError"></div>
                        <img src="<%= profile.profileHeroImage %>" id="uploadPreview" 
                        height="150" width="202">
                    </div>
                    <div class="form-group">
                        <label>Current City</label>
                        <input class="form-control" type="text" name="profile[currentCity]" value="<%= profile.currentCity %>">
                    </div>
                    <div class="form-group">
                        <label>Country</label>
                        <input class="form-control" type="text" name="profile[currentCountry]" value="<%= profile.currentCountry %>">
                    </div>
                    <div class="form-group">
                        <label>Where you make shit happen</label>
                        <input class="form-control" type="text" name="profile[venue]" value="<%= profile.venue %>">
                    </div>
                    <div class="form-group">
                        <label>What is your current role</label>
                        <input class="form-control" type="text" name="profile[role]" value="<%= profile.role %>">
                    </div>
                     <div class="form-group">
                    <label>What's your Insta profile?</label>
                    <p class="form-control">@<input class="col-md-4" type="text" name="profile[instaHandle]" value="<%= profile.instaHandle %>"></p>
                    </div>
                    <div class="form-group">
                        <label>And Twitter handle?</label>
                        <p class="form-control">@ <input class="col-md-4" type="text" name="profile[twitterHandle]" value="<%= profile.twitterHandle %>"></p>
                    </div>
                    <div class="form-group">
                        <label>A little quote you live by</label>
                        <input class="form-control" type="text" name="profile[quote]" value="<%= profile.quote %>">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Your intro about yourself</label>
                        <input class="form-control" type="text" name="profile[description]" value="<%= profile.description %>">
                    </div>
                    <div class="form-group">
                        <label>Where did you cut your teeth and what lessons did you learn?</label>
                        <input class="form-control" type="text" name="profile[learnSkills]" value="<%= profile.learnSkills %>">
                    </div>
                    <div class="form-group">
                        <label>What's your greatest achievement?</label>
                        <input class="form-control" type="text" name="profile[achievements]" value="<%= profile.achievements %>">
                    </div>
                    <div class="form-group">
                        <label>What are you passionate about?</label>
                        <input class="form-control" type="text" name="profile[passionateAbout]" value="<%= profile.passionateAbout %>">
                    </div>
                    <div class="form-group">
                        <label>What do you love about your industry?</label>
                        <input class="form-control" type="text" name="profile[industryLove]" value="<%= profile.industryLove %>">
                    </div>
                    <div class="form-group">
                        <label>If you could change something about your industry what would it be?</label>
                        <input class="form-control" type="text" name="profile[industryImprove]" value="<%= profile.industryImprove %>">
                    </div>
                    <div class="form-group">
                        <label>Tell us 3 businesses or establishments that you would recommend for a great experience</label>
                        <p class="form-control"><i class="fa fa-coffee" aria-hidden="true"></i> <input type="text" name="profile[recommendsFirst]" value="<%= profile.recommendsFirst %>"></p>
                        <p class="form-control"><i class="fa fa-cutlery" aria-hidden="true"></i> <input type="text" name="profile[recommendsSecond]" value="<%= profile.recommendsSecond %>"></p>
                        <p class="form-control"><i class="fa fa-glass" aria-hidden="true"></i> <input type="text" name="profile[recommendsThird]" value="<%= profile.recommendsThird %>"></p>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-lg btn-outline-primary btn-block" id="edit-profile-submit">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

 <script>
     

$(document).ready(function(){   
var MAX_FILE_SIZE_PROFILE = 2*1024*1024
var MAX_FILE_SIZE_PROFILE_IN_MB = 2
var fileSize_err ="<h5 style='color:red'>Maximum Size of Profile Image is "+MAX_FILE_SIZE_PROFILE/(1024*1024)+" MB</h3>"
var mimeType_err = "<h5 style='color:red'>Please Upload only Image File</h3>"
var SubmitBtn = $("#edit-profile-submit")
var uploadPreview = $("#uploadPreview")  
  SubmitBtn.prop('disabled', false);
  uploadPreview.show()
  
$('#profileHeroImage').on('change',function(){

  if($(this).get(0).files.length > 0){ 
    var file = $(this).get(0).files[0]
    var fileSize = file.size
    var fileReader = new FileReader();
    fileReader.onloadend = function(e) {
    var arr = (new Uint8Array(e.target.result)).subarray(0, 4);
    var header = "";
    for(var i = 0; i < arr.length; i++) {
        header += arr[i].toString(16);
    } 
    if(mimeType(header)=='unknown'){
        $("#profileImageError").html("")
        $("#profileImageError").html(mimeType_err)
        uploadPreview.hide()
        return SubmitBtn.prop('disabled', true);
    }
 
  }
   fileReader.readAsArrayBuffer(file);   
   if(fileSize>MAX_FILE_SIZE_PROFILE){
        $("#profileImageError").html("")
        $("#profileImageError").html(fileSize_err)
        uploadPreview.hide()
        return SubmitBtn.prop('disabled', true);
    }
    
    $("#profileImageError").html("")
    uploadPreview.show()
    PreviewImage()
    return SubmitBtn.prop('disabled', false);
}

});

function mimeType(headerString) {
  switch (headerString) {
    case "89504e47":
      type = "image/png";
      break;
    case "47494638":
      type = "image/gif";
      break;
    case "ffd8ffe0":
    case "ffd8ffe1":
    case "ffd8ffe2":
      type = "image/jpeg";
      break;
    default:
      type = "unknown";
      break;
  }
  return type;
}

 function PreviewImage() {
        var oFReader = new FileReader();
        oFReader.readAsDataURL(document.getElementById("profileHeroImage").files[0]);
        oFReader.onload = function (oFREvent) {
            document.getElementById("uploadPreview").src = oFREvent.target.result;
        };
    }
}) 

 </script>   
<% include ../partials/footer %>